// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Dark Mode
@import "darkMode";

// Pagination
@import "pagination";

// Image Upload
@import "imageUpload";

// Cookie Consent
@import "cookieConsent";

// PWA
@import "PWA";

// Image Placeholder
@import "imagePlaceholder";

html {
  scroll-behavior: smooth;
}

.no-a-styling {
  color: black;
}

.no-a-styling:hover {
  text-decoration: none;
  color: black;
}

#profile-picture {
  max-width: 150px !important;
  min-width: 77px !important;
  height: auto;
}

a {
  color: $theme-dark-green;
}
a:hover {
  color: $theme-light-green;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $theme-dark-green;
}

.form-control:focus,
.custom-file-input:focus ~ .custom-file-label {
  border-color: $theme-light-green;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba($theme-shadow-green, 0.5);
}

.custom-file-input {
  cursor: pointer;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $theme-dark-green;
}

.custom-control-input:valid:focus ~ .custom-control-label::before,
.custom-control-input.is-valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba($theme-shadow-green, 0.25);
}

.btn-link {
  color: $theme-dark-green;
}

.btn-link:hover {
  color: $theme-light-green;
}

.btn-primary {
  color: #fff;
  background-color: $theme-dark-green;
  border-color: $theme-dark-green;
}

.btn-primary {
  color: #fff;
  background-color: $theme-dark-green;
  border-color: $theme-dark-green;
}

.btn-primary:hover {
  color: #fff;
  background-color: $theme-light-green;
  border-color: $theme-light-green;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: $theme-light-green;
  border-color: $theme-light-green;
  box-shadow: 0 0 0 0.2rem rgba($theme-shadow-green, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: $theme-dark-green;
  border-color: $theme-dark-green;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $theme-dark-green;
  border-color: $theme-dark-green;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($theme-shadow-green, 0.5);
}

.btn-outline-primary {
  color: $theme-dark-green;
  border-color: $theme-dark-green;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: $theme-dark-green;
  border-color: $theme-dark-green;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba($theme-shadow-green, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: $theme-dark-green;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: $theme-dark-green;
  border-color: $theme-dark-green;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($theme-shadow-green, 0.5);
}

.hide-long-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left !important;
}

p {
  word-break: break-word;
  white-space: pre-line;
}

.nav-link:hover {
  background-color: rgba(128, 128, 128, .05);
}

.nav-link:active,
.nav-link.active {
  background-color: $theme-dark-green;
  color: white !important;
}

#nav-logout:hover {
  background-color: rgba(255, 0, 0, .05);
}

#nav-logout:active,
#nav-logout.active {
  color: rgba(0, 0, 0, .7) !important;
}

.modal-footer button {
  min-width: 60px;
}

.custom-control-label {
  cursor: pointer;
}

.mw-35 {
  max-width: 35px;
}
.mw-45 {
  max-width: 45px;
}
.mw-70 {
  max-width: 70px;
}
.mw-125 {
  max-width: 125px;
}
.mw-650 {
  max-width: 650px;
}
.mw-900 {
  max-width: 900px;
}
