// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.no-a-styling {
    color: black;
}
.no-a-styling:hover {
    text-decoration: none;
    color: black;
}

#profile-picture {
    max-width: 150px!important;
    min-width: 77px!important;
    height: auto;
}

.blue-theme {
    background: red!important;
}

.btnPrimary {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
}
  
.btnPrimary:hover {
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
}
  
.btnPrimary:focus,
.btnPrimary.focus {
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
  box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}
  
.btnPrimary.disabled,
.btnPrimary:disabled {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
}
  
.btnPrimary:not(:disabled):not(.disabled):active,
.btnPrimary:not(:disabled):not(.disabled).active,
.show > .btnPrimary.dropdown-toggle {
  color: #fff;
  background-color: #2176bd;
  border-color: #1f6fb2;
}
  
.btnPrimary:not(:disabled):not(.disabled):active:focus,
.btnPrimary:not(:disabled):not(.disabled).active:focus,
.show > .btnPrimary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.btnOutlinePrimary {
  color: #3490dc;
  border-color: #3490dc;
}
 
.btnOutlinePrimary:hover {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
}
  
.btnOutlinePrimary:focus,
.btnOutlinePrimary.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.5);
}
  
.btnOutlinePrimary.disabled,
.btnOutlinePrimary:disabled {
  color: #3490dc;
  background-color: transparent;
}
  
.btnOutlinePrimary:not(:disabled):not(.disabled):active,
.btnOutlinePrimary:not(:disabled):not(.disabled).active,
.show > .btnOutlinePrimary.dropdown-toggle {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
}
  
.btnOutlinePrimary:not(:disabled):not(.disabled):active:focus,
.btnOutlinePrimary:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlinePrimary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.5);
}

.js-cookie-consent.cookie-consent {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 15px;
  text-align: center;
  width: 100%;
  background-color: #f0f2f1;
  z-index: 9999;
}
span.cookie-consent__message {
  color: #1F1F21;
}
button.js-cookie-consent-agree {
  border: none;
  border-radius: 0.25rem;
  background: #3490dc;
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  @extend .mx-2;
}


//Image upload
.image-preview {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ccc;
  display: none;
}
.image-preview-image {
  display: none;
  width: 100%;
}
#caption {
  min-height: 2.5rem;
  height: 2.5rem;
}
.custom-file-label {
  overflow: hidden;
}

.no-posts {
  display: flex;
  flex-direction: column;
}
.no-posts h2, h4 {
  text-align: center;
}
.no-posts .btn {
  margin: auto;
}
.no-posts .btn:hover {
  color: white;
}