// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.no-a-styling {
    color: black;
}
.no-a-styling:hover {
    text-decoration: none;
    color: black;
}

#profile-picture {
    max-width: 150px!important;
    min-width: 77px!important;
    height: auto;
}

.blue-theme {
    background: red!important;
}