@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark-mode-black !important;
    }

    .navbar,
    input,
    textarea,
    .dropdown-menu,
    .index-post-card,
    .profile-post-card,
    .cookie-consent {
        background-color: $dark-mode-dark-gray !important;
    }

    .index-post-card,
    .profile-post-card {
        border: none !important;
    }

    .dropdown-divider {
        border-top-color: $dark-mode-gray !important;
    }

    .dropdown-item:hover {
        background-color: $dark-mode-gray !important;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    p,
    span,
    label,
    input,
    textarea,
    .text-center,
    .profile-title-text,
    .nav-link,
    .navbar-brand,
    .card-header,
    .dropdown-item,
    .text-dark,
    .no-a-styling {
        color: $dark-mode-white !important;
    }

    .nav-link:hover,
    .navbar-brand:hover,
    a.text-dark:hover,
    .no-a-styling:hover {
        color: $dark-mode-light-gray !important;
    }

    .card {
        border: none !important;
        background-color: $dark-mode-dark-gray !important;
    }

    .custom-checkbox .custom-control-input ~ .custom-control-label::before,
    .custom-file .custom-file-label {
        background-color: $dark-mode-dark-gray !important;
    }

    .custom-file .custom-file-input ~ .custom-file-label::after {
        background-color: $dark-mode-dark-gray !important;
        color: $dark-mode-white !important;
    }

    .navbar-toggler {
        color: rgba(255, 255, 255, 0.5) !important;
        border-color: rgba(255, 255, 255, 0.1) !important;
    }

    .navbar-toggler-icon {
        filter: invert(1) !important;
    }

    hr,
    .hr {
        border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
}
