.pagination > li > a {
    background-color: white;
    color: $theme-dark-green;
  }
  
  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
  }
  
  .pagination > .active > a {
    color: white;
    background-color: $theme-dark-green;
    border: $theme-dark-green;
  }
  
  .pagination > .active > a:hover {
    background-color: $theme-dark-green;
    border: $theme-dark-green;
  }
  
  .pagination > .page-item.active .page-link {
    background-color: $theme-dark-green;
    border: $theme-dark-green;
  }
  
  .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba($theme-shadow-green, 0.25);
  }
  
  .pagination .page-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }